body {
    font-family: Roboto, sans-serif;
}
.wrapper {
    display: flex;
    width: 650px;
    height: 380px;
    background-color: white;
}
.photo-column {
    height: 100%;
    width: 40%;
    background-color: white;
    margin-right: 2px;
}
.details-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
}
.name-container {
    height: 50%;
    background-color: #192028;
    border-radius: 0 10px 0 0;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.name-text {
    color: white;
    font-size: x-large;
    flex-direction: column;
    justify-content: center;
    line-height: 8px;
}
p.first-name {
    font-size: 29px;
}
p.surname {
    font-size: 35px;
}
.position {
    font-size: 29px;
    color: #6487A1;
}
.contact-container {
    height: 50%;
    width: 100%;
    background-color: #2B3944;
    border-radius: 0 0 10px 0;
    align-items: center;
}
.address {
    display: flex;
    flex-direction: row;
    color: white;
    padding-left: 20px;
}
p.address-text {
    border-bottom: 1px solid;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    border-color: rgba(255, 255, 255, 0.4);
}
.email {
    display: flex;
    flex-direction: row;
    color: white;
    padding-left: 20px;
}
p.email-text {
    border-bottom: 1px solid;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    border-color: rgba(255, 255, 255, 0.4);
}
.phone {
    display: flex;
    flex-direction: row;
    color: white;
    padding-left: 20px;
}
p.phone-text {
    border-bottom: 1px solid;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    border-color: rgba(255, 255, 255, 0.4);
}