.background {
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF; }

.line_horizontal {
    position: absolute;
    width: 383px;
    left: 659px;
    top: 513px;
    border: 2px solid #FFFFFF;
}
.line_vertical {
    position: absolute;
    width: 380px;
    left: 661px;
    top: 702px;
    border: 2px solid #FFFFFF;
    transform: rotate(-90deg);
}
.photo {
    position: absolute;
    width: 260px;
    height: 380px;
    background: url(Photo.svg);
    border-radius: 10px 10px;
}
.text {
    position: absolute;
    width: 383px;
    height: 190px;
    left: 0;
    top: 0;
    background: #192028;
    border-radius: 0 10px 0 0;}

.contact {
    position: absolute;
    width: 383px;
    height: 190px;
    left: 0;
    top: 190px;
    background: #2B3944;
    border-radius: 0 0 10px 0;}

.frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;

    position: absolute;
    width: 363px;
    height: 132px;
    left: 20px;
    top: 29px;}

.address_with_icon {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 12px;

    width: 363px;
    height: 28px;

    flex: none;
    order: 0;
    flex-grow: 0;}

.map_pin {
    width: 26px;
    height: 26px;
    flex: none;
    order: 0;
    flex-grow: 0;}

.vector1 {
    position: absolute;
    left: 37.5%;
    right: 37.5%;
    top: 29.17%;
    bottom: 45.83%;
    border: 2px solid #6487A1;
}
.vector2 {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 4.17%;
    bottom: 4.17%;
    border: 2px solid #6487A1;
}
.address_with_line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 5px;

    width: 325px;
    height: 28px;

    flex: none;
    order: 1;
    flex-grow: 0;}

.text_address {
    width: 171px;
    height: 23px;

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.line1 {
    width: 171px;
    height: 23px;

    font-family: "Roboto Light", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.mail_with_icon {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0;
gap: 12px;

width: 363px;
height: 28px;

flex: none;
order: 1;
flex-grow: 0;}

.mail_icon {
    width: 26px;
    height: 26px;

    flex: none;
    order: 0;
    flex-grow: 0;}

.vector3 {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 25%;
    bottom: 45.83%;
    border: 2px solid #6487A1;
}
.vector4 {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 16.67%;
    bottom: 16.67%;
    border: 2px solid #6487A1;
}
.mail_with_line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 5px;

    width: 325px;
    height: 28px;

    flex: none;
    order: 1;
    flex-grow: 0;}

.mail {
    width: 288px;
    height: 23px;

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.line2 {
    width: 325px;
    height: 0;

    border: 1px solid rgba(255, 255, 255, 0.4);

    flex: none;
    order: 1;
    flex-grow: 0;
}
.phone_number_with_icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 12px;

    width: 363px;
    height: 28px;

    flex: none;
    order: 2;
    flex-grow: 0;}

.phone_icon {
    width: 26px;
    height: 26px;

    flex: none;
    order: 0;
    flex-grow: 0;}

.vector5 {
    position: absolute;
    left: 8.8%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.63%;

    border: 2px solid #6487A1;
}
.number_with_line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 5px;

    width: 325px;
    height: 28px;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.phone {
    width: 112px;
    height: 23px;

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.line3 {
    width: 325px;
    height: 0;

    border: 1px solid rgba(255, 255, 255, 0.4);

    flex: none;
    order: 1;
    flex-grow: 0;
}
.name_position {
    position: absolute;
    width: 383px;
    height: 190px;
    left: 0;
    top: 0;

    background: #192028;
    border-radius: 0 10px 0 0;}

.imie_i_nazwisko {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 4px;

    position: absolute;
    width: 147px;
    height: 68px;
    left: 19px;
    top: 44px;}

.aleksander {
    width: 125px;
    height: 29px;

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.kowalski {
    width: 147px;
    height: 35px;

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.stanowisko {
    position: absolute;
    width: 157px;
    height: 29px;
    left: 20px;
    top: 126px;

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

    color: #6487A2;
}