body {
    font-family: Roboto, sans-serif;
}
.wrapper {
    display: flex;
    width: 650px;
    height: 380px;
    background-color: white;
}
.photo-column {
    height: 100%;
    width: 40%;
    background-color: white;
    margin-right: 2px;
}
.details-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
}
.name-container {
    height: 50%;
    background-color: #192028;
    border-radius: 0 10px 0 0;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.contact-container {
    height: 50%;
    width: 100%;
    background-color: #2B3944;
    border-radius: 0 0 10px 0;
}
.name-text {
    color: white;
    font-size: small;
    flex-direction: column;
}
.position {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-items: flex-end;
    color: white;
    font-size: x-large;
}
.address {
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 1px;
    padding-left: 20px;
}
.email {
    display: flex;
    flex-direction: row;
    color: white;
    padding-left: 20px;
}
.phone {
    display: flex;
    flex-direction: row;
    color: white;
    padding-left: 20px;
}